
<!--link rel="stylesheet" th:href="@{/CSS/main.css}" />  -->

 <!DOCTYPE HTML>
<!--
	Phantom by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Galleria SILPH SPA</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" th:href="@{/css/main.css}" />
		<noscript><link rel="stylesheet" th:href="@{/css/noscript.css}" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<a href="index.html" class="logo">
									<span class="symbol"><img src="images/logo.svg" alt="" /></span><span class="title">Galleria SILPH SPA</span>
								</a>

							<!-- Nav -->
						</div>
					</header>

								
				<!-- Main -->
					<div id="main">
						<div class="inner">
							<header>
								<h1>Benvenuti nel portale WEB della Galleria SILPH SPA<br /></h1>
								<p>Successivamente, verranno visualizzati tutti i fotografi collegati a SILPH SPA. Si prega di selezionare il fotografo che si desidera.</p>
							</header>
							<section class="tiles">
								
								
							<!-- <article class="style1">
									<span class="image">
										<img src="images/pic01.jpg" alt="" />
									</span>
									<a href="index_smith.html">
										<h2>Steven Smith</h2>
										<div class="content">
											<p>Famoso fotografo americano dedito principalmente ai paesaggi naturali.</p>
										</div>
									</a>
								</article> -->	
								
							</section>
						</div>
					</div>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<ul class="copyright">
								<li>&copy; SILPH SPA. All rights reserved</li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="/js/jquery.min.js"></script>
			<script src="/js/browser.min.js"></script>
			<script src="/js/breakpoints.min.js"></script>
			<script src="/js/util.js"></script>
			<script src="/js/main.js"></script>

	</body>
</html>